

  .navbar-nav {
    margin-left: auto;
}
  
  h2 {
    color: black; 
    font-size: 72px;
    font-family: 'Delius Swash Caps', cursive;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 4px;
    font-weight: 800;
  }
  
  .fadeIn {
  animation-name: fadeIn2;
  animation-delay: 0s;
  animation-duration: 3.5s;
  }

  .fadeInTitle {
    animation-name: fadeIn1;
    animation-delay: 0s;
    animation-duration: 1s;
    }

    .fadeIn3a {
        animation-name: fadeIn3;
        animation-delay: 0s;
        animation-duration: 5.5s;
        }

    @keyframes fadeIn1 {
        0% {
          opacity: 0;
        
        }
      
        30% {
          opacity: 15%;
        
        }
      
        50% {
            opacity: 40%;
     
        }
      
        75% {
          opacity: 70%;
      }
    
        100% {
          opacity: 1;       
        }
      }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    
    }
  
    25% {
      opacity: 0%;
      letter-spacing: 5px;
    }
  
    50% {
        opacity: 40%;
        letter-spacing: 6px;
    }
  
    75% {
      opacity: 70%;
  
  }

    100% {
      opacity: 1;
      letter-spacing: 3.5px;
      
    }
  }
  

  @keyframes fadeIn3 {
    0% {
      opacity: 0;
    
    }
  
  
    50% {
        opacity: 0%;
    
    }
  
    75% {
      opacity: 50%;
  
  }

    100% {
      opacity: 1;   
    }
  }
  .animateAttempt {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    letter-spacing: -4px;
    font-weight: 700;
    color: #AFA3B5;
    padding-left: 15%;
    padding-bottom: 10px;
    font-size: 48px;
}

.fontSplash {
    font-family: 'Roboto Slab', serif;
    font-size: 4.3em;
    letter-spacing: -4px;
    font-weight: 400;
    color: #7B6FF7;
    color: #BDC2FF;
    color:#7B6FF7;
    text-align: center;
    font-size: 54px;
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 7%;
}
h2 {
  text-align: center;
  font-family: 'tangerine', sans-serif;
  font-size: 54px;
  color: #BDC2FF;
  color: #695CED;
  color:#BDC2FF;
  letter-spacing: 3.5px;
  font-weight: 100;
  }

  .quoteSm {
      
      font-size:32px;
      font-weight: 100;
  }

  .buttonSplash {
    width: 100%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
  }

  .btn-primary {
    background-color: black !important;
    border: solid 2px;
    border-radius: 1;
    border-color: #695CED;
    color: #7B6FF7; 
  }
h3 {
    font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 28px;
  font-weight:400;
  color: #510773; 
}
h4 {
    font-family: 'Roboto', sans-serif;
  font-size: 16.5px;
  line-height: 22px;
  font-weight: 300;
}

h5 {
  font-family: 'Comic Neue', cursive;
  font-size: 36px;
}
.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}


.header {
  padding-top: 3rem;
}


/*--------------------------------------Navigation---------------------------------*/
.bg-light {
 /* background: rgb(232,35,143);
  background: linear-gradient(90deg, rgba(232,35,143,1) 0%, rgba(241,190,74,1) 35%, rgba(0,212,255,1) 100%)!important;
  background: rgb(237,54,154);
background: linear-gradient(126deg, rgba(237,54,154,1) 0%, rgba(255,196,109,1) 48%, rgba(67,242,159,1) 100%);*/ 
background-color: rgba(255, 255, 255, 0.6)!important;
}

.navbar-nav {
    padding-right: 3%;
}
a.nav-link{
  color:#510773 !important;
}

a.nav-link {  
  font-family: 'Roboto', sans-serif;
  margin: auto;
  font-weight: 300;
  text-decoration: none;
  color: #510773;
  padding-right: 20px;
  font-size: 17px;
}

a.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 24px;
    color:#510773 !important;
  padding-left: 25px;
}

#navbarNavDropdown a.nav-link:hover {
  font-weight: 600; 
  font-size: 20px;
  
}

a.nav-link.active {

  font-weight: 900;
}

a.navbar-brand.active {
  text-shadow: 0px 1px px #510773 !important;
}

 a.nav-link:hover {
  text-shadow: 1px 1px 4px white;
 }
/*---------------------------------Home Page----------------------------------------*/

.main {
  margin-top: 2.25rem;
    border: .0px solid #D1D1D1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100% !important;
    display: table;
    width: 100%;
    height: auto; /* For at least Firefox */
    min-height: 100%; 
    background-image: url("images/stars.png"); 
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: bottom;
    padding-left: 5%;
    padding right: 5%;
}

.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*---------------------------------------About ME--------------------------------------*/
.aboutMe {
  margin-top: 1.6rem;
  padding-top: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  width: 85%;
}

.pT {
  padding-top: 5%;
}
.about {
    padding-top:30px;
    
}

.pB {
  padding-bottom: 3%;
}

.padLR {
  
    padding-right: 45px;
}

.second {
  display: table;
    width: 100%;
    height: auto; /* For at least Firefox */
    min-height: 100%; 
    background-color: white !important;
    padding-bottom: 5px;
}

.h4sm {
    font-size: 14px;
}

.philo {
  padding-right:5.2rem;
  padding-left:5.2rem;
  padding-bottom:20px;
}

.newCol {
  padding-bottom: 40px;
}

.left {
  padding-left: 20px;
}

.about {
    padding-left: 15%;
    padding-left: 15%;
}

.lessons {
    padding-left: 15%;
    Padding-right: 15%;
    padding-top: 0%;
}


.card-img-top{
  width: 150px;
}

.movie{
  font-size: 22px;
  line-height: 36px;
  font-weight: 300;

}

.overview {
  font-size: 16.25px;
  line-height: 28px;
  font-weight: 300;
}

.overBig {
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

/*--------------Google dods--------------*/
.venn{
  
}
/*----------------------------------------Footer-----------------------------------------*/
footer {
  background-color: rgba(255, 255, 255, 0.4)!important;
  margin-bottom:0 !important ;
  padding-bottom:0 !important ;
}

.my-md-5 {
  margin-bottom: 0px !important ;
}

.big {
  font-size:20px;
}


/*----------------------------------Media Queries------------------------------*/
/*---Small Screens---*/


@media (max-width: 576px) {

  h1 {
    font-family: 'Roboto Slab', serif;
      font-size: 24px;
      letter-spacing: -4px;
      font-weight: 700;
      color: #AFA3B5;
      text-align: center;
      font-size: 48px;
  }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    
    }
  
    25% {
      opacity: 0%;
      letter-spacing: 3.5px;
    }
  
    50% {
        opacity: 40%;
        letter-spacing: 3.5px;
    }
  
    75% {
      opacity: 70%;
  
  }

    100% {
      opacity: 1;
      letter-spacing: 3.5px;
      
    }
  }
  
  .fontSplash {
    font-size: 40px;
  }
  h2 {
    text-align: center;
    font-family: 'tangerine', sans-serif;
    font-size: 24px;
    color:#BDC2FF;
    }

    .quoteSm {
      font-size:18px;
    }
  h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 20px;
  }
  h4, .overview, .overBig{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
  }
  
  h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }

  .smRes {
    height:50px;
  }
 
/*---Landscape Phones---*/

@media (min-width: 576px) and (max-width:767.98px) { 
  

@media (min-width: 768px) and (max-width: 991.98px) { 

@media (min-width: 992px) { 
  

@media (min-width: 1300px){
  
/*---Large Screens---
@media (min-width: 577px) {
  .smScreen {
      display: none;
  }
  .wines {
      padding-top: 5rem;
  }
} */
